sylius_shop_api_address_book_create:
    path: /address-book/
    controller: sylius.controller.address:createAction
    methods: [POST]
    defaults:
        _sylius:
            factory:
                method: createForCustomer
                arguments:
                    - "expr:service('sylius.context.customer').getCustomer()"

sylius_shop_api_address_book_index:
    path: /address-book/
    controller: sylius.controller.address:indexAction
    methods: [GET]
    defaults:
        _sylius:
            paginate: false
            repository:
                method: findByCustomer
                arguments:
                    - "expr:notFoundOnNull(service('sylius.context.customer').getCustomer())"

sylius_shop_api_address_book_delete:
    path: /address-book/{id}
    controller: sylius.controller.address:deleteAction
    methods: [DELETE]
    defaults:
        _sylius:
            repository:
                method: findOneByCustomer
                arguments:
                    - $id
                    - "expr:service('sylius.context.customer').getCustomer()"
            csrf_protection: false

sylius_shop_api_address_book_update:
    path: /address-book/{id}
    controller: sylius.controller.address:updateAction
    methods: [PUT, PATCH]
    defaults:
        _sylius:
            repository:
                method: findOneByCustomer
                arguments:
                    - $id
                    - "expr:service('sylius.context.customer').getCustomer()"

sylius_shop_api_set_default_address:
    path: /address-book/{id}/default
    methods: [PATCH]
    defaults:
        _controller: sylius.shop_api_plugin.controller.address_book.set_default_address_action
