sylius_shop_show_address_book:
    path: /address-book
    methods: [GET]
    defaults:
        _controller: sylius.shop_api_plugin.controller.address_book.show_address_book_action

sylius_shop_create_address_book_entry:
    path: /address-book
    methods: [POST]
    defaults:
        _controller: sylius.shop_api_plugin.controller.address_book.create_address_action

sylius_shop_remove_address_book_entry:
    path: /address-book/{id}
    methods: [DELETE]
    defaults:
        _controller: sylius.shop_api_plugin.controller.address_book.remove_address_action

sylius_shop_set_default_address:
    path: /address-book/{id}/default
    methods: [PATCH]
    defaults:
        _controller: sylius.shop_api_plugin.controller.address_book.set_default_address_action

sylius_shop_update_address_book_entry:
    path: /address-book/{id}
    methods: [PUT]
    defaults:
        _controller: sylius.shop_api_plugin.controller.address_book.update_address_action
