<container xmlns="http://symfony.com/schema/dic/services">
    <services>

        <service class="Sylius\ShopApiPlugin\Mapper\AddressMapper"
                 id="sylius.shop_api_plugin.mapper.address_mapper">
            <argument type="service" id="sylius.factory.address"/>
            <argument type="service" id="sylius.repository.country"/>
            <argument type="service" id="sylius.repository.province"/>
        </service>

    </services>
</container>
