includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 6
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    excludes_analyse:
        # Makes PHPStan crash
        - src/DependencyInjection/Configuration.php

    ignoreErrors:
        - /^Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$message\.$/
        - '/Sylius\\Component\\Core\\Model\\(\w+), Sylius\\Component\\\w+\\Model\\\1 given\./'
        - '/Call to static method Webmozart\\Assert\\Assert::implementsInterface\(\) with string/'
        - '/Empty array passed to foreach./'
        - '/Property Sylius\\ShopApiPlugin\\Request\\Checkout\\AddressOrderRequest::\$\w+Address \(array\|null\) does not accept bool\|float\|int\|string\|null\./'
        - '/Property Sylius\\ShopApiPlugin\\Request\\Customer\\UpdateCustomerRequest::\$birthday \(DateTimeImmutable\|null\) does not accept bool\|float\|int\|string\|null\./'
        - '/Parameter #3 \$options of class Sylius\\ShopApiPlugin\\Request\\Cart\\PutOptionBasedConfigurableItemToCartRequest constructor expects array\|null, bool\|float\|int\|string\|null given\./'
        - '/Argument of an invalid type bool\|float\|int\|string supplied for foreach, only iterables are supported\./'
