includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 4
    excludes_analyse:
        # Makes PHPStan crash
        - src/DependencyInjection/Configuration.php

    ignoreErrors:
        - /^Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$message\.$/
        - '/^Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\.$/'
