includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 6
    excludes_analyse:
        # Makes PHPStan crash
        - src/DependencyInjection/Configuration.php

    ignoreErrors:
        - /^Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$message\.$/
        - '/Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\)/'
        - '/Sylius\\Component\\Core\\Model\\(\w+), Sylius\\Component\\\w+\\Model\\\1 given\./'
